* {
  font-family: "Roboto", sans-serif;
  background: #5cdb95;
  color: #edf5e1;
  padding: 3px 3px;
}

.hcontainer {
  display: grid;
  grid-template-columns: 150px auto 150px;
  height: 40px;
}
.left {
  display: grid;
  grid-column-start: 1;
  align-self: start;
}
.right {
  grid-column-start: 3;
  display: grid;
  align-self: center;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header ul li {
  display: inline;
  padding: 0 5px;
}
header ul li a {
  text-decoration: none;
  color: #05386b;
}
header h2:hover {
  color: #2e1114;
}
header ul li a:hover {
  color: #2e1114;
}
header ul li a:active,
header ul li a:focus {
  outline: none;
}
header a {
  text-decoration: none;
}
header h2 {
  color: #05386b;
  margin: 0;
}
header a:active,
header a:focus {
  outline: none;
}
